<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoBackupFile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoBackupFile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <AutoBackupFile.Properties.Settings>
            <setting name="BackupName" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveTo" serializeAs="String">
                <value />
            </setting>
            <setting name="Auto" serializeAs="String">
                <value>False</value>
            </setting>
        </AutoBackupFile.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <AutoBackupFile.Properties.Settings>
            <setting name="Registered" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>B4-2E-99-64-02-3C</string>
                        <string>50-9A-4C-6B-B8-5D</string>
                        <string>50-9A-4C-6B-B8-5E</string>
                        <string>18-66-DA-43-FC-C3</string>
                        <string>00-FF-9A-0C-BA-63</string>
                        <string>A4-BB-6D-B2-AB-3A</string>
                        <string>E4-54-E8-6D-AA-38</string>
                        <string>00-FF-97-C6-30-CC</string>
                        <string>44-39-C4-37-65-8B</string>
                    </ArrayOfString>
                </value>
            </setting>
        </AutoBackupFile.Properties.Settings>
    </applicationSettings>
</configuration>